img {
    display: block;
    max-width: 100%;
}

/* a标签链接不带下划线，并列换行写 */
a,
a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

img,
.side-bar .list-group-item,
.side-bar-card,
.side-bar-card .card-body .list .item:hover {
    border-radius: 5px;
}

.navbar-brand {
    background-image: url(../img/logo.png);
    width:50px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
}

.side-bar .list-group-item {
    border: 0px;
    margin-bottom: 5px;
}

.side-bar .list-group-item.active {
    background-color: #ea0d3d;
}

.news-list-item .title {
    display: block;
    color: #444444;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.5;
}

.news-list-item {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px #cccccc solid;
}

.news-list-item:first-child {
    margin-top: 0;
}

.news-list-item:last-child {
    border: 0;
}

.news-list-item .title:hover {
    color: #ea0d3d;
}
.news-list-item .info {
    color: #999999;
}

.news-list-item .avatar {
    display: inline-block;
}

.news-list-item .avatar img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.side-bar-card {
    margin-top: 10px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px 0;
}

.side-bar-card.flag {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* line-heigh不要写px */
.side-bar-card .title {
    font-size: 15px;;
    line-height: 3;
}

.side-bar-card h4,.side-bar-card .card-body .list .item {
    padding-left: 15px;
}

.side-bar-card .card-body .list .item:hover {
    background-color: rgba(0,0,0,0.05);
}

.side-bar-card .card-body .list .item .note {
    padding-bottom: 5px;
    color: #999999;
}

.news-title {
    line-height: 1.3;
}

.news-status {
    color: #999999;
}

.news-status .label {
    opacity: 0.8;
}

.news-status .label:first-child {
    margin-left: 10px;
}

.news-content {
     margin-top: 20px;
     font-size: 15px;
     line-height: 1.5;
}

.news-content img {
    margin-top: 10px;
    margin-bottom: 10px;
}